@model IEnumerable<PointOfInterest.Models.Rumah>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <input type="button" value="Refresh" class="btn btn-primary" onclick="LoadLoc()" />
        </div>
        <div id="myMap" style="position:relative; height:400px;"></div>
    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alamat)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        var map = null;
        function LoadMap() {
            map = new Microsoft.Maps.Map('#myMap', {
                credentials: "ArElXif6FemUk7MiLv0bV5cZiTcWSO9mkz8JgM4ahhwje3v6Ns022XuXrffbtRJG",
            });
            map.setView({
                mapTypeId: Microsoft.Maps.MapTypeId.road,
                center: new Microsoft.Maps.Location(-6.914744, 107.609810),
                zoom: 13
            });
        }
        LoadMap();
        function LoadLoc() {
            var url = "/Rumah/GetLocations";
            $.getJSON(url, null, function (data) {
                var pins = [];

                $.each(data, function (index, LocationData) {
                    var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(
                        LocationData.latitude,
                        LocationData.longitude), { title:LocationData.name });
                    pins.push(pushpin);
                });
                map.entities.push(pins);
                map.setView({
                    zoom: 13, center: new Microsoft.Maps.Location(-6.914744, 107.609810)
                });
            });
        }
    </script>
    <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=LoadMap" async defer></script>
}
